@font-face{
    font-family: "Monteserrat";
    src: url("/fonts/Montserrat-Light.ttf")

}
* {
    color: #eee;
    font-family: 'Monteserrat';
}
body{
    background-color: black;
}
a {
    text-decoration: none;
}
h1 {
    color: #ddd
}
h2 {
    color: #888
}
.socialLink {
    width: 50px;
    background-color: white;
    padding: 10px;
    border: none;
    border-radius: 25%;
}
.socialLink:hover {
    background-color: orangered;
}
ul {
    margin: 0px;
}
tr {
    margin: 5px;
}
th {
    padding: 5px;
    border-bottom: 2px solid white;
}
td {
    padding: 5px;
    font-size: 12px;
    text-align: center;
}
.fadeIn {
    animation: fadeInBackground 8s 1;
}
footer {
    margin-top: 100px;
}
.ninetyRight {
    animation: ninetyRight 0.5s 1 forwards;
}
.ninetyLeft {
    animation: ninetyLeft 0.5s 1 forwards;
}
@keyframes fadeInBackground {
    from{background-color: black;}
    to{background-color: white;}
}
@keyframes ninetyRight {
    from{}
    to{transform: rotate(-90deg)}
}
@keyframes ninetyLeft {
    from{transform: rotate(-90deg)}
    to{transform: rotate(0deg)}
}