@font-face{
    font-family: "Monteserrat";
    src: url("/fonts/Montserrat-Light.ttf")

}
* {
    color: #eee;
    font-family: 'Monteserrat';
}
body{
    background-color: black;
}
a {
    text-decoration: none;
}
h1 {
    color: #ddd
}
h2 {
    color: #888
}
.socialLink {
    width: 50px;
    background-color: white;
    padding: 10px;
    border: none;
    border-radius: 25%;
}
.socialLink:hover {
    background-color: orangered;
}
ul {
    margin: 0px;
}